.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 255, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgb(0, 255, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(0, 255, 0, 0);
  }
}

.buttonChat {
  animation: pulse 1.5s infinite;
}
