.root {
    border-radius: var(--mantine-radius-xl);
    /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
  }

  .label {
    font-weight: 600;
  }

  .icon {
    font-size: 24px;
  }
  
  .item {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border: 1px solid transparent;
    position: relative;
    z-index: 0;
    transition: transform 150ms ease;
    border-radius: var(--mantine-radius-md);
    margin-bottom: 10px;
  
    &[data-active] {
      transform: scale(1.03);
      z-index: 1;
      background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-9));
      border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
      box-shadow: var(--mantine-shadow-md);
      border-radius: var(--mantine-radius-md);
    }
  }

  .panel {
    margin-left: 36px;
    font-size: var(--mantine-font-size-sm);
    a {
        font-size: var(--mantine-font-size-sm);
    }
  }
  
  .chevron {
    &[data-rotate] {
      transform: rotate(-90deg);
    }
  }