.contentFooter {
  padding-top: 32px;
  background: var(--mantine-color-body);
  box-shadow: inset 0px 4px 32px 0px #00000032;
}

.footer {
  padding-bottom: 32px;
  .column {
  }
}

.title {
  font-size: 12px !important;
  font-weight: 300;
}

.columnAnchor {
  font-size: 11px !important;
}
