.buttonAction {
    box-shadow: inset 0 1px 0 1px rgb(255, 255, 255, 0.2), 0 1px 12px rgb(255, 0, 0, 0.5);   
    transition: all 0.5s;
}

.buttonAction:hover {
  box-shadow: inset 0 -2px 0 1px rgb(255, 255, 255, 0.2), 0 0 32px rgb(255, 0, 0, 0.8)
}