@keyframes move {
  100% {
    transform: translateX(-50%);
  }
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.waves {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  height: 100%;
  width: max(200%, 100rem);
  opacity: 0.1;
  animation: move 30s ease-in-out alternate infinite;
}
